$main-font: 'Exo', sans-serif;
$main-font-color: #282828;
$button-bg-color: #ff6d6d;
$white: #ffff;
$black: #0000;
$purple: #323969;
$first-bg-color: #f6f5f3;
$color-input-font: rgba(255, 255, 255, 0.1);
$color-input-border: #4e4e5e; 
